.profile-error {
  margin-top: 10rem;
  margin-inline: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.main-profile {
  display: flex;
  flex-direction: column;
}

.intro-wrapper {
  margin: 100px auto;
}

.shelf-user-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.bookshelf-title {
  margin-left: 6rem;
}

.following-users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.shelf-favourited-book {
  color: red;
}

/* 
Bookshelf */

.bookshelf {
  transform: scale(0.8);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 8px #a87328 solid;
  overflow: hidden;
  background-image: linear-gradient(
    #241909,
    #2c1e0b 220px,
    #b87e2c 220px,
    #b87e2c 222px,
    #a87328 222px,
    #a87328 228px,
    #986824 228px,
    #986824 230px
  );
  background-size: 10px 230px;
  box-shadow: 0px 1000px 0px 400px #7a7668;
}

.bookshelf-book {
  height: 200px;
  width: 50px;
  margin-inline: 2px;
  float: left;
  color: white;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.book-tilted {
  float: left;
  width: 74px;
}

.book-tilted > .bookshelf-book {
  transform: translateY(-3px) translateX(15px) rotate(9deg);
}

.bookshelf-book:hover {
  transform: scale(1.09);
}

.book-1 {
  background-color: darkgreen;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.book-2 {
  background-color: #0c347d;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.book-3 {
  background-color: #54290c;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.book-4 {
  background-color: #f5f59e;
  border-left: 2px solid black;
  border-right: 2px solid black;
  color: black;
}

.book-favourite {
  background-color: goldenrod;
  border-left: 2px solid black;
  border-right: 2px solid black;
  color: black;
}

.bookshelf-book h2 {
  padding-inline: 0.4rem;
  margin-left: 0.5rem;
  font-size: 1em;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);
  width: 170px;
}
