.header-space {
  margin-top: 6rem;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.post-body {
  background-color: var(--slate-blue2);
  padding: 1rem 2rem;
  text-align: left;
  width: 90%;
  margin-inline: auto;
  border-radius: 15px;
}

.post-body > h3 {
  font-weight: 600;
}

.post-message {
  font-weight: 400;
}

.post-body:hover {
  box-shadow: inset 0 0 2px var(--intense-orange);
  margin-block: 0;
}

.new-post-input {
  width: 0%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.4s ease-in-out;
}

.close-new-post-field {
  background-image: url("../../imgs/X-slate.png");
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
  margin-block: auto;
  aspect-ratio: 1;
  cursor: pointer;
}

.new-post-form-container-outer{
  display:inline-block;
  width:100%;
  max-width: 600px;
}

.new-post-form-container-inner{
  margin: 0 3rem;
  display: flex;
  align-items:flex-start;
}

.forum-button-group{
  display:inline-flex;
  justify-content:space-around;
  align-items:flex-start;
  padding-inline:0.75rem
}
