.header-space {
  margin-top: 6rem;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.post-body {
  background-color: var(--slate-blue2);
  padding: 1rem 2rem;
  text-align: left;
  width: 90%;
  margin-inline: auto;
  border-radius: 15px;
}

.post-body > h3 {
  font-weight: 600;
}

.post-message {
  font-weight: 400;
}

.post-body:hover {
  border: 2px solid var(--intense-orange);
}
