*,
*::after,
*::before {
  box-sizing: border-box;
}

/* color variables */
:root{
  --off-white: #FFF9F9;
  --pale-orange: #FE6E4A;
  --intense-orange: rgb(255, 107, 1);
  --slate-blue: #281E32;
}

header {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;

  overflow-y: scroll !important;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b5b5;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #494a4a;
}

/* Navabar ------------------------------------------------------------------------------*/

.navbar {
  display: flex;
  align-items: center;
  background-color: #281e32;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  padding: 0;
}

.home-background {
  background-color: transparent;
}

.logo {
  margin-right: auto;
  padding-left: calc(min(1rem, 5%));
  padding-top: 0.5rem;
  width: 3.5em;
  height: 3.5em;
  position: relative;
  margin-bottom: 1rem;
}

.logo-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-duration: 1s;
}

.logo-image:hover {
  transform: rotate(360deg);
}
.nav-items {
  /* primary nav */
  padding-right: 3rem;
  gap: 2.5rem;
  display: flex;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.link {
  position: relative;
  padding-bottom: 1.4rem;
  padding-inline: 0.75rem;
  font-size: 1.125em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.link:hover {
  color: white;
  padding-bottom: 1.4rem;
  border-bottom: 4px solid white;
}

.sr-only {
  display: none;
}

.mobile-nav-button {
  display: none;
}

/* //Navbar media queries  */

@media (min-width: 47rem) and (max-width: 51rem) {
  .nav-items {
    gap: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 47rem) {
  .nav-items {
    position: fixed;

    margin-block: 0;
    inset: 0 0 0 0;
    flex-direction: column;
    padding: 10rem 6rem;
    background-color: rgba(27, 27, 27, 0.5);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 500ms ease-out;
  }
  .nav-items[data-visible="true"] {
    transform: translatex(0%);
  }
  .link {
    font-size: 1.25rem;
    margin-left: 1.5rem;
    user-select: none;
  }
  .link::after {
    display: none;
  }
  .mobile-nav-button {
    display: block;
    position: absolute;
    background: url(./imgs/hamburger.png);
    background-repeat: no-repeat;
    background-size: cover;

    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    z-index: 1000;
    top: 1em;
    right: 3em;
    cursor: pointer;
  }
  .mobile-nav-button[data-open="true"] {
    background: url(./imgs/X.png);
    background-repeat: no-repeat;
    z-index: 1000;
  }
  .nav-bar {
    right: 0;
  }
}

@supports (backdrop-filter: blur(1rem)) {
  @media (max-width: 47em) {
    .nav-items {
      background: rgba(27, 27, 27, 0.5);
      backdrop-filter: blur(1em);
      gap: 2rem;
    }

    .link:hover {
      background-color: transparent;
      color: white;
    }
    .link {
      color: white;
      padding-inline: 0;
      background-color: transparent !important;
      padding-block: 0;
    }
  }
}

/* Login footer */

.login-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: fit-content;
  background-color: rgb(246, 107, 0);
  display: flex;
  align-items: center;
  opacity: 1;
}

.login-footer-text {
  margin-right: auto;
  margin-left: 30%;
  color: white;
  padding-block: 0.5rem;
  text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000;
}
.login-footer-text > p {
  font-size: 0.9rem;
  margin-block: 0;
}
.login-footer-text > h4 {
  margin-bottom: 0;
  font-weight: 600;
}

.login-footer-buttons {
  margin-right: 10%;
  display: flex;
  gap: 2rem;
}

.login-footer-close {
  display: block;
  position: absolute;
  background: url(./imgs/X.png);
  background-repeat: no-repeat;
  background-size: cover;

  border: 0;
  width: 1rem;
  aspect-ratio: 1;
  z-index: 1000;
  top: 0.4rem;
  right: 1rem;
  cursor: pointer;
}

.login-footer-close:hover {
  transform: scale(1.1);
}

/* Login Modal */

/* .modal-open {
  overflow-y: auto;
}
 */

/*  Login and sign up modals */
