.new-message-form {
  display: flex;
  margin-inline: 4rem;

  max-width: 500px;

  align-items: flex-end;
  margin-bottom: 2rem;
  position: relative;
}
.new-message-form > textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  transition: height 0.4s ease-in-out;
  border-radius: 5px;
}

.new-message-form > textarea:focus {
  height: 6rem;
}
.new-message-form > input {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
.post-header-container {
  display: flex;
  justify-content: space-between;
}
.like-container {
  display: flex;
  gap: 0.5rem;
}
.thumb {
  cursor: pointer;
  transition: 0.4s;
}

.thumb:hover {
  transform: rotate(20deg) scale(1.1);
}

.post-author {
  width: fit-content;
  color: var(--pale-orange);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.85rem;
}
.post-author:hover {
  color: var(--off-white);
  text-decoration: underline;
}
.post-header {
  background: var(--slate-blue2);
  margin-bottom: 2rem;
  border-radius: 15px;
  color: var(--off-white);
  padding-inline: 2rem;
  padding-block: 1.5rem;
  margin-inline: 4rem;
}

.post-header > h3 {
  font-weight: 600;
}

.post-comments {
  margin: 0;
  padding: 0;
  margin-bottom: 10rem;
}

/* ********************** Messages ********************** */

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-header > button {
  transform: translateX(-80%) translateY(-35%);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: var(--pale-orange);
}

.message-header > button:hover {
  color: var(--off-white);
  text-decoration: underline;
}

.message-box {
  background: rgba(43, 57, 86, 1);
  margin-bottom: 1rem;
  border-radius: 15px;
  position: relative;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  color: var(--off-white);
  margin-inline: 4rem;
}

.message-line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  left: 1.125rem;
  top: 0;
  width: 2.5px;
  height: calc(100% - 3.8rem);
  margin-top: 2rem;
  cursor: pointer;
}
.message-line:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.message-line::before {
  content: "";
  position: absolute;
  width: 900%;
  height: 100%;
  transform: translatex(-40%);
}

.message-reply-input {
  width: 0%;
  height: 0;
  overflow: hidden;
  transition: width 0.3s ease-in;
  display: flex;
}

.message-content {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.message-username {
  color: var(--pale-orange);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.85rem;
}
.message-username:hover {
  color: var(--off-white);
  text-decoration: underline;
}
.reply-username {
  color: var(--pale-orange);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.85rem;
}
.reply-username:hover {
  color: var(--off-white);
  text-decoration: underline;
}

.message-message {
  font-size: 1.2rem;
}

.reply-content {
  position: relative;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.reply-content::after {
  position: relative;
  margin-left: 1rem;
}

.reply-form-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 0.9rem;
}

.reply-header {
  display: flex;
  justify-content: space-between;
}

.close-reply-field {
  background-image: url("../../imgs/X.png");
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
  margin-block: auto;
  aspect-ratio: 1;
  cursor: pointer;
}
.close-reply-field:hover {
  transform: scale(1.1);
}

.delete-message {
  background-image: url("../../imgs/X.png");
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 1.5rem;
  aspect-ratio: 1;
  top: 1.5rem;
  cursor: pointer;
}

.delete-message:hover {
  height: 0.9rem;
}

.reply-footer {
  font-size: 0.8rem;
}

.edit-reply-form {
  width: 0%;
  height: 0;
  overflow: hidden;
  transition: width 0.3s ease-in;
  display: flex;
}

.edit-reply {
  color: grey;
  cursor: pointer;
  margin-right: 1rem;
}
.edit-reply:hover {
  color: white;
}
.delete-reply {
  color: grey;
  cursor: pointer;
}
.delete-reply:hover {
  color: white;
}

.header-space {
  margin-top: 8rem;
}

.hide-reply {
  display: none;
}

.width {
  width: 100%;
  height: 100%;
}

#back-button {
  position: absolute;
  top: 8rem;
  left: 7rem;
}
