.header-space{
  margin-top:4.5rem;
}

.container {
  padding: 1rem;
}

.post-header {
  background: #fff9f9;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.post-comments {
  background: #fff9f9;
  border-radius: 15px;
}
 